{% extends 'main/brand-base.html' %}
{% load static %}
{% block title %}
    Givenchy
{% endblock %}

{% block content %}
    <div class="main">
        <img class="brand" src="{% static 'main/img/shows/givenchy.png' %}"/>
        <div class="brand-description" style="position: relative; margin-top: 15%;">
            <a><img class="logo" style="position: relative;" src="{% static 'main/img/logos/givenchy.png' %}"/></a><br><br>
            <a style="font-size: 1.5vw;">French fashion house, which was created by designer Hubert de Givenchy in 1952. Specializes in the production of clothing, shoes, accessories and perfumes. It belongs to the multinational company LVMH. From May 2, 2017 to April 10, 2020, its artistic director was Claire Waite Keller, the first woman to hold this position. On June 15, 2020, Matthew M. Williams replaced Claire Waite Keller as creative director of the house.
            </a><br><br>

            <a style="font-size: 1.5vw;">models: </a>
            <a style="color: black; font-size: 1.5vw;" href="{% url 'modelsanddesigners' 'sofia' %}">Sofia Steinberg</a><br><br>
            <a style="color: black; font-size: 1.5vw;" href="{% url 'Show' 'givenchy' %}">to view the shows click</a>
        </div>
    </div>

{% endblock %}

{% block models %}
    <div class="models">
        {% for model in model_names %}
            <img src="{% static model %}"/>
        {% endfor %}
    </div>
{% endblock %}