{% extends 'main/brand-base.html' %}
{% load static %}
{% block title %}
    Maison Margiela
{% endblock %}

{% block content %}
    <div class="main">
        <img class="brand" src="{% static 'main/img/shows/margela.png' %}"/>
        <div class="brand-description">
            <a><img style="text-shadow: 1px 1px 2px black;" class="logo" src="{% static 'main/img/logos/maisonwhite.png' %}"/></a><br><br>
            <a style="color: white; font-size: 1.5vw;">Maison Margiela, formerly Maison Martin Margiela,
                is a French luxury fashion house founded by Belgian designers</a>
                <a  style="color: white; font-size: 1.5vw;" href="{% url 'modelsanddesigners' 'martin' %}">Martin Margiela</a>
            <a  style="color: white; font-size: 1.5vw;" >and </a> <a  style="color: white; font-size: 1.5vw;" href="#">Jenny Meirens</a> <a  style="color: white; font-size: 1.5vw;">in 1988 with headquarters in Paris.
                The house produces both artisanal collections inspired by high fashion
                and ready-to-wear collections, with the former influencing the design
                of the latter. The product lines include women's and men's clothing,
                fine jewelry, shoes, accessories, and products from.</a><br><br>
            <a style="color: white; font-size: 1.5vw;" href="{% url 'Show' brand='maison' %}">to view the shows click</a>
        </div>
    </div>
{% endblock %}

{% block models %}
    <div class="models">
        {% for model in model_names %}
            <img src="{% static model %}"/>
        {% endfor %}
    </div>
{% endblock %}