{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ model.name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/designer.css' %}">
{% endblock %}

{% block content %}

<div class="block-text">
    <div class="text text__left">
        <a>{{ model.biography1 }}</a>
    </div>

    <img class="photo" src={{ model.photo1.url }}/>
</div>

<div class="hr__wrapper">
    <hr>
</div>

<div class="block-text" style="padding-bottom: 20%;">
    <img class="photo" src={{ model.photo2.url }}/>

    <div class="text text__right" >
        <a>{{ model.biography2 }}</a>
    </div>
</div>

<script src="{% static 'main/js/hrAnim.js' %}"></script>
<script src="{% static 'main/js/textAnim.js' %}"></script>
{% endblock %}