{% extends 'main/brand-base.html' %}
{% load static %}
{% block title %}
    Rick Owens
{% endblock %}

{% block content %}
    <div class="main">
        <img class="brand" src="{% static 'main/img/shows/rickowens.png' %}"/>
        <div class="brand-description">
            <img class="logo" src="{% static 'main/img/logos/rick.png' %}"/><br><br>
            <a href="{% url 'modelsanddesigners' 'rick' %}" style="color: black; font-size: 1.5vw;"><b>Rick Owens</b></a>
            <a style="font-size: 1.5vw;"> – founder of the American brand Rick Owens,</a><br>
            <a style="font-size: 1.5vw;">under which clothing, accessories and shoes</a><br>
            <a style="font-size: 1.5vw;">in the avant-garde style are produced.</a><br><br>
            <a style="font-size: 1.5vw;">models: </a>
            <a style="color: black; font-size: 1.5vw;" href="{% url 'modelsanddesigners' 'tyrone' %}">Tyrone Dylan</a><br><br>
            <a style="color: black; font-size: 1.5vw;" href="{% url 'Show' brand='rick' %}">to view the shows click</a>
        </div>
    </div>

{% endblock %}

{% block models %}
    <div class="models">
        {% for model in model_names %}
            <img src="{% static model %}"/>
        {% endfor %}
    </div>
{% endblock %}