{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/designer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
    </style>
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="block-text">
        <div class="bellatxt">
            {% block text1 %}{% endblock %}
        </div>
        {% block img1 %}{% endblock %}
    </div>

    <div class="animhr">
        <hr class="mainhr">
    </div>

    <div class="block-text" id="block-bella2">
        {% block img2 %}{% endblock %}
        <div class="textaboutbella2">
            {% block text2 %}{% endblock %}
        </div>
    </div>

    <script src="{% static 'main/js/rick.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>