{% extends 'main/modelsanddesigners/base.html' %}
{% load static %}

{% block title %}Bella Hadid{% endblock %}

{% block text1 %}
    <a style="color: rgb(10, 10, 10); font-size: 2vw;">American supermodel of Palestinian-Dutch origin.
        He is an ambassador and a regular face of the fashion houses Dior and Bulgari. One of the most famous
        and highly paid models in the world

        One of the main achievements of Bella Hadid was the contract signed with the company for the production
        of women's underwear Victoria's Secret. The girl managed to participate in several photo shoots for
        the company's catalog, and also became a new "Angel", and made her debut at the Victoria's Secret
        show in Paris with angel wings. "I can't believe it!!! There is no greater happiness than to receive
        an invitation to participate in the @victoriassecret show!
    </a>
{% endblock %}

{% block img1 %}
    <img class="bella" src="{% static 'main/img/modelsanddesigners/bella.png' %}"/>
{% endblock %}

{% block img2 %}
    <img class="bella2" src="{% static 'main/img/modelsanddesigners/bella2.jpg' %}"/>
{% endblock %}

{% block text2 %}
    <a>Hadid's modeling career began when she was sixteen years old with a commercial project for Flynn Skye. She also appeared in modeling projects such as Lesa Amoore's "The Swan Settings", alongside actor Ben Barnes, and Holly Copeland's "Smoking Hot". Hadid also modeled for Hanna Hayes' Fall/Winter 2013 Collection, and did campaign work for Chrome Hearts, the family brand of her best friend, Jesse Jo Stark.</a>
{% endblock %}