{% extends 'main/modelsanddesigners/base.html' %}
{% load static %}

{% block title %}Martin Margiela{% endblock %}

{% block text1 %}
    <a style="color: rgb(10, 10, 10);">He graduated from the Royal Academy of Fine Arts in Antwerp in 1979. After graduating from university, Margela settled in Paris and worked as a freelance designer for five years. From 1985 to 1987, he worked for Jean-Paul Gaultier, and then presented his first collection under his own brand, Maison Martin Margiela, which he founded with his business partner Jenny Meirens in 1989.

            From 1997 to 2003, he was the creative director of the Hermès women's line. In 2010, Martan Margela was appointed a guest member of the Chambre Syndicale de la Haute Couture.

            Margela uses items such as old wigs, canvases and silk scarves in her collections. In the 1980s, the concept of fashion was adjusted under the influence of Japanese fashion design. Margela and the Antwerp Six supported this vector by using non-standard proportions and shapes in the suit. The new elements included clothes of hypertrophied proportions, the use of external seams, asymmetric hemlines, etc. The principles of Martan Margela's collections were formed under the influence of deconstructivism.
            </a>

{% endblock %}

{% block img1 %}
    <img class="bella" style="width: 35%; right: 15%; margin-top: 10%;" src="{% static 'main/img/modelsanddesigners/martin.jpg' %}"/>
{% endblock %}

{% block img2 %}
    <img class="bella2" id="martin2" src="{% static 'main/img/modelsanddesigners/martin2.jpg' %}"/>
{% endblock %}

{% block text2 %}
    <a>Margiela founded his eponymous label, Maison Martin Margiela, in 1988 with his business partner Jenny Meirens. Meirens, the owner of a designer clothing boutique in Brussels, described Margiela as "the most talented young designer" she had ever seen.
        Margiela presented the Spring/Summer 1990 collection in the first show for his eponymous label in the fall of 1989 on a derelict playground in a North African neighborhood on the outskirts of Paris. It was an unusual show with an uneven runway and intentionally stumbling models, which created a public spectacle that shocked the industry. As opposed to the popular themes of extravagance, bold colors, and wide shoulders at the time, his collection included ripped sleeves, frayed hems, and clumpy shoes. To show respect for the community, local kids were also asked to hand draw invitations in art classes in school and were seated in the front row during the show.
    </a>
{% endblock %}