{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rick Owens</title>
    <link rel="stylesheet" href="{% static 'main/css/designer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
    </style>
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="block-text">
        <div class="bellatxt">
            <a style="color: rgb(10, 10, 10);">20-year-old supermodel Sofia Steinberg, originally from Novosibirsk, has managed to earn great popularity in the fashion world and promises to outshine even Shake and Vodianova in the near future.
                Sofia Steinberg
                Sonya has been appearing on the catwalks since she was 12 years old, she has already been noticed by the brands Simone Rocha and Valentino, Dior, Saint Laurent and Max Mara, with whom she actively cooperates. At one of its first shows, the model withstood almost 40 exits, which surpassed many older competitors. The rising star of modeling was singled out in one of her posts by socialite and TV journalist Ksenia Sobchak.
                In an interview, Sofia Steinberg reveals some of the secrets of her success. According to her, the main help in work is absolute calm. Coming to the auditions, the young model never hopes that she will be taken, so she does not worry and does not make mistakes. And Sofia prefers to address only world celebrities.</a>
            </a>
        </div>
        <img class="bella" src="{% static 'main/img/modelsanddesigners/rick.jpg' %}"/>
    </div>

    <div class="animhr">
        <hr class="mainhr">
    </div>

    <div class="block-text" id="lamyy">
        <figure id="lamy">
            <img style="width: 100%;" src="{% static 'main/img/modelsanddesigners/lamy.png' %}"/>
            <figcaption>Michelle Lamy</figcaption>
        </figure>

        <div id="textaboutlamy">
            <a>A figure of French culture and fashion. She was a fashion designer, performer,
            film producer and restaurateur, as well as the life partner of Rick Owens.
            She is one of the founding partners of Owenscorp and serves as the Executive
            Manager of the Art and Furniture Department.</a>
        </div>
    </div>

   <script src="{% static 'main/js/rick.js' %}"></script>
   <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>