{% extends 'main/modelsanddesigners/base.html' %}
{% load static %}

{% block title %}Sofia Steinberg{% endblock %}

{% block text1 %}
    <a style="color: rgb(10, 10, 10);">20-year-old supermodel Sofia Steinberg, originally from Novosibirsk, has managed to earn great popularity in the fashion world and promises to outshine even Shake and Vodianova in the near future.
                Sofia Steinberg
                Sonya has been appearing on the catwalks since she was 12 years old, she has already been noticed by the brands Simone Rocha and Valentino, Dior, Saint Laurent and Max Mara, with whom she actively cooperates. At one of its first shows, the model withstood almost 40 exits, which surpassed many older competitors. The rising star of modeling was singled out in one of her posts by socialite and TV journalist Ksenia Sobchak.
            </a>
{% endblock %}

{% block img1 %}
    <img class="bella" src="{% static 'main/img/modelsanddesigners/sofia2.jpg' %}"/>
{% endblock %}

{% block img2 %}
    <img class="bella2" src="{% static 'main/img/modelsanddesigners/sofia.jpg' %}"/>
{% endblock %}

{% block text2 %}
    <a>She first worked in Asia and then moved to Europe. Her first post to Instagram was in August of 2016 and features her with long brown hair, before she had it cut and dyed black in her signature style. Her breakthrough came in 2019 when she opened a Givenchy fashion show.
    </a>
{% endblock %}