{% extends 'main/modelsanddesigners/base.html' %}
{% load static %}

{% block title %}Tyrone Dylan{% endblock %}

{% block text1 %}
    <a style="color: rgb(10, 10, 10);">The first show with the participation of Tyrone Dylan happened already in 2018 at the presentation of the SS19 collection "Babel", where he was awarded to come out second after the "main guest" of that campaign - Tommy Cash. Subsequently, Tyrone took part in every Rick Owens show for the next four years.
                Soon Tyrone was invited to join Rick Owens' design team, his ideas were fresh and innovative for Rick's project. Tyrone's first idea was to release a collection of jewelry at a minimum price, which in Dylan's eyes was a real missed opportunity.
    </a>
{% endblock %}

{% block img1 %}
    <img class="bella" style="width: 35%; right: 15%;" src="{% static 'main/img/modelsanddesigners/tyrone.jpg' %}"/>
{% endblock %}

{% block img2 %}
    <img class="bella2" src="{% static 'main/img/modelsanddesigners/tyrone2.jpg' %}"/>
{% endblock %}

{% block text2 %}
    <a>Product models released under Tyrone:
        Dylan tee (jersey or longsleeve, with a deep V-neck)
        Tyrone cut (skinny jeans)
        Recognizable silhouettes that still come out every season and are very popular among fans.
    </a>
{% endblock %}