.brand-description{
    position: absolute;
    top: 30%;
    left: 7%;
    width: 30%;
    animation: text 2s 1;
}

@keyframes text{
  0%{
    left: -500px;
  }
  100%{
    left: 7%;
  }
}

.logo{
    width: 100%;
}

.brand{
    width: 100%;
}

.models{
    width: 95%;
    margin-left: 2.5%;
    columns: 4;
    padding-bottom: 100px;
    margin-top: 7%;
}

.models img{
    width: 100%;
    margin-bottom: 5%;
}