body{
    background-color: rgb(245, 245, 245);
}

.block-text{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 5vw;
    align-items: center;
    height: 80vh;
}

.text{
    width: 40vw;
    font-size: 2vw;
}

figcaption{
    margin-top: 20px;
    text-align: center;
    font-size: 3vw;
}