#tommy{
  width: 100%;
}

.logo{
  width: 85%;
  margin: 7%;
}

#logos{
    position: absolute;
    left: 65%;
    background: rgba(255, 255, 255, .5);
    width: 30%;
    margin-top: 8%;
    animation: textRight 1s;
}

#logos img{
  pointer-events: auto;
}

.block-text{
    display: flex;
    justify-content: space-between;
}

#second-block-text, #third-block-text{
  width: 90%;
  margin-left: 5%;
}

#designers, #models{
  font-size: 4vw;
}

#designers a, #models a{
  color: black;
  text-decoration: none;
}

#third-block-text{
    padding-bottom: 15%;
}