h1{
    margin-top: 50px;
    margin-left: 15%;
    font-size: 4vw;
}

.video-show{
    position: relative;
    width: 100%;
    top: 80px;
    margin-right: 300px;
    margin-bottom: 70px;
}

#background{
    position: fixed;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
}

.video-wrapper{
    display: flex;
    flex-direction: column;
    width: 85%;
}

iframe{
    width: 640;
    aspect-ratio: 16/9;
    margin-left: 15%;
    margin-top: 5%;
}

@media (pointer:none), (pointer:coarse) {
    #background{
        position: fixed;
        height: 100%;
        width: auto;
        z-index: -1;
        top: 0px;
    }

    iframe{
        width: 300px;
    }
}